<% @room.errors.each do |att,msg|  %>
 <%=att%><%=": "%><%=msg%></br>
<% end %>
<%=form_for(@room, url: apartment_room_create_path ,:html => {:multipart=>true,:class => "form-horizontal"}) do |f|%>
<fieldset>
  <legend>New Room</legend>
  <%= f.hidden_field :apartment_id, :value => @apartment.id %>
  <div class="layout">
	<%=f.label :layout%><br/>
	<%=f.file_field :layout %>
  </div>
  <div class="field">
	<%=f.label :rent%><br/>
	<%=f.text_field :rent, :value => number_with_precision(f.object.rent,:precision => 2)%>
  </div> 
  <div class="submit">
  	<%=f.submit "Add a new room", class: "btn btn-primary"%>
  </div>
</fieldset>
<%end%>